<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Dashboard LIGHTBO.LT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
 
<body>
    <script type="text/javascript">        
        function home(){
            jQuery.ajax({
                url     : '/action/home/0/matrix',
                type    : 'POST',
                success : function(data){
                     $('#status').text(data);
                }
            });
        }
    
        function upstairs(){
             jQuery.ajax({
                url     : '/action/upstairs/0/matrix',
                type    : 'POST',
                success : function(data){
                     $('#status').text(data);
                }
            });
       }

        function away(){
             jQuery.ajax({
                url     : '/action/away/0/matrix',
                type    : 'POST',
                success : function(data){
                     $('#status').text(data);
                }
            });
       }
    </script>
    <div class="container">
        <div class="jumbotron">
            <h1 class="h1">ALARM</h1>
            <h2 class="h2"><div class="text-danger"><div id="status"><i>unknown</i></div></div></h2>
            <br>
            <div class="container">
                <button class="btn btn-primary" onclick="home()">Home</button>
                <button class="btn btn-primary" onclick="upstairs()">Upstairs</button>
                <button class="btn btn-primary" onclick="away()">Away</button>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Blockchain Brussels <script>document.write(new Date().getFullYear())</script></p>
        </footer>
 
    </div>
</body>
</html>